*{
    margin: 0px auto;
    padding: 0px;
}
.row{
    float: left;
    width: 100%;
}
.wrapper{
    height: 852px;
    width: 900px;
   
}
header{
    margin-left: 0px;
    text-align: right;
    width: 870px;
    height: 80px;
    background-color:white;
    border-bottom: solid orange 3px;

}
nav{
    float: left;
    width: 21%;
    height: 770px;
    background-image: url('./back.jpg');
}
.menu li{
    width: 90%;
    list-style: none;
    line-height: 45px;
    text-indent: 10px;
    border-bottom: dashed 2px darkgoldenrod;
}
.menu li a{
    font-size: 17px;
    color: rgb(148, 28, 148);
    text-decoration: none;

}
.menu li a:hover{
    color: red;
    font-style: italic;
}
section{
    float: left;
    background-color:white;
    width: 75.8%;
    height: 740px;
}
h1{
    color:orange;
    margin-top: 15px;
    padding-left: 15px;
}
section img{
    height: 650px;
    width: 570px;
    margin-left: 10px;
    margin-top: 30px;
}
#p1{
    margin-left: 490px;
    position: absolute;
    border: inset 5px rgb(195, 194, 194);
    height: 190px;
    width: 160px;
    padding-left: 10px;
    background-color:beige;
    color: brown;
}
#p2{
    margin-top: 260px;
    position: absolute;
    border: inset 5px rgb(195, 194, 194);
    height: 120px;
    width: 160px;
    padding-left: 10px;
    background-color:beige;
    color: brown;
}
#p3{
    margin-top: 430px;
    margin-left: 460px;
    position: absolute;
    border: inset 5px rgb(195, 194, 194);
    height: 130px;
    width: 160px;
    padding-left: 10px;
    background-color:beige;
    color: brown;
}
footer{
    background-color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    color: orange;
    width: 97.5%;
    height: 30px;
    margin-left: 16px;
    border-top: solid 3px orange;
}